
<% @trainings.group_by(&:date).each do |date, trainings| %>
  <h6><%= date.strftime("%d/%m/%Y") %></h6>

  <table>
    <thead>
      <tr>
        <th>Exercício</th>
        <th>Progressão</th>
      </tr>
    </thead>
    <tbody>
      <% trainings.each do |training| %>
        <% training.exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.name %></td>
            <td>
              <table class="inner-table">
                <% exercise.progressions.each do |progression| %>
                  <tr>
                    <td><%= progression.set %> séries</td>
                    <td><%= progression.rep %> repetições </td>
                    <td><%= progression.weight %> kg</td>
                    <td>
                      <% case progression.level %>
                        <% when "facil" %>
                          <span style="color: green; font-size: 35px;">●</span>
                        <% when "medio" %>
                          <span style="color: orange; font-size: 35px;">●</span>
                        <% when "dificil" %>
                          <span style="color: red; font-size: 35px;">●</span>
                        <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>